#positionContent{
    background: #262525;
    height: 400px;
    margin-top: 50px;
}

#profilePic {
    float: left;
    height: 380px;
    margin-left: 10px;
    margin-top: 10px;
}

#textAbout{
    float: left;
    margin-left: 10px;
}

#headerAbout {
    font-family: Novecentosanswide;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;

}

#paragraphAbout {
    color: white;
    width: 620px;
    font-family: Helvetica;
    font-size: 14px;
}